/* General main styes */
html, body {
  background-color: black;
  font-size: 18px;
  font-family: Helvetica, sans-seif;
  color: white;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* Header/logo styles */
header {
    display: flex;
    align-items: center;
}

.logo img {
  height: 1.5rem;
  margin: 0.66rem 1rem 0.66rem 0.5rem;
}

.logo h2 {
  font-family: Helvetica;
  margin: 0.66rem 0 0.66rem 1rem;
}

/* banner image/heading styles */
.banner {
  width: 100%;
  height: 25rem;
  background-image: url("../../resources/img/moto.jpeg");
  background-size: cover;
}

.feature {
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

.feature h2 {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.feature h1 {
  font-size: 2rem;
  font-weight: bold;
}

/* navigation styles */
nav {
  background-color: firebrick;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

ul a {
  color: white;
  text-decoration: none;
}

#menu-btn {
  display: none;
}

/* main content styles */
.main {
  background-color: white;
}

.main .container {
  display: flex;
  justify-content: space-between;
}

.item {
  margin-top: 3rem;
  border: 4px solid black;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.item img {
  max-width: 8rem;
  display: block;
  margin: 2rem auto;
}

#glasses img {
  margin: auto;
}

.item h2 {
  background-color: black;
  text-align: center;
  padding: 0.5rem 0;
}

.subsection {  /* for location and hours */
  margin: 3rem 0 4rem 0;
  width: 35%;
}

.subsection h2 {
  padding: 1rem 2rem;
  background-color: black;
}

.subsection p {
  color: black;
}

/* footer styles */
footer {
  height: 5rem;
  position: relative;
  top: 3rem;
}

/* tablet screen size adjustments */
@media screen and (max-width: 1024px) {
  .container {
    width: auto; /* set site container to auto-size */
  }

  .feature h1 {
    font-size: 1.5rem; /* adjust text size in banner */
  }

  nav ul li {
    display: none;
  }

  #menu-btn {
    display: inline-block;
    margin: 0 auto;
  }

  .item {
    width: 47%; /* expand size of featured items */
  }

  #glasses {
    display: none; /* hide glasses */
  }
}
